/* -------------------------------------------------- */
/* -- Fonts */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* -------------------------------------------------- */
/* -- General styles */

* {
    --light: #e3f2fd;
    --lightest: #fafafa;
    --granny-smith: #8AA29E;
    --dark: #686963;
    --accent: #800020;
    --accent-over-dark: #D2AA67;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    filter: brightness(1.25) !important;
    cursor: pointer;
}

a:active {
    filter: brightness(1) !important;
}

.aOverDark {
    color: var(--accent-over-dark) !important;
}

.aOverLight {
    color: var(--accent) !important;
}

body {
    background-color: var(--lightest) !important;
    height: 100vh;
}

.caveatFont {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}

.permanentMarkerFont {
    font-family: "Permanent Marker", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.btnDark {
    background-color: var(--dark) !important;
    border: 2px solid var(--accent) !important;
    color: var(--lightest) !important;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}

.btnLight {
    background-color: var(--light) !important;
    border: 2px solid var(--accent-over-dark) !important;
    color: var(--dark) !important;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}

.btnLight:hover,
.btnDark:hover {
    filter: brightness(1.25) !important;
}

.btnLight:active,
.btnDark:active {
    filter: brightness(0.75) !important;
}

.keyboardBinding {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.keyboardBinding .key {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: var(--accent);
    color: var(--lightest);
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.keyboardBinding .action {
    color: var(--accent-over-dark);
    text-decoration: underline var(--accent);
}

/* -------------------------------------------------- */
/* -- Header styles */

header {
    background-color: var(--dark);
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>.appData {
    margin-left: 2rem;
}

.appData {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.appData .appName {
    font-size: 3rem;
    color: var(--lightest);
    text-shadow: 4px 3px 0 var(--granny-smith);
}

.appData .appMotto {
    font-size: 1rem;
    color: var(--accent-over-dark);
}

header>.userData {
    margin-right: 2rem;
}

.userData {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.userData>.username {
    font-size: 1.5rem;
    color: var(--lightest);
}

/* -------------------------------------------------- */
/* -- Footer styles */

footer {
    background-color: var(--dark);
    color: var(--lightest);
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#mainContent {
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
}